<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.deduplication.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserRegistration</servlet-name>
        <servlet-class>com.deduplication.UserRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadLogin</servlet-name>
        <servlet-class>com.deduplication.UploadLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUpload</servlet-name>
        <servlet-class>com.deduplication.FileUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fileUpload1</servlet-name>
        <servlet-class>com.deduplication.fileUpload1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegistration</servlet-name>
        <url-pattern>/UserRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadLogin</servlet-name>
        <url-pattern>/UploadLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUpload</servlet-name>
        <url-pattern>/FileUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fileUpload1</servlet-name>
        <url-pattern>/fileUpload1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
